# Python
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/**/*.pyc
backend/.env
backend/.env.*
!backend/.env.example
!backend/.env.production.example
backend/student_photos/

# Flutter
frontend/.dart_tool/
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies

# Misc
qchat.md
*.sh
ireg.nginx.conf
backend/docker-compose.yml
